<!DOCTYPE html>
<html>
<head>

	<title>User Home</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Robin.css' %}">
</head>
<body>


<center>
<br>

<br>

<center><h1>Admin Home</h1></center>
<br>

{{error}}
<br>

<a href="../addfaculty/">Add Faculty Member <br></a><br>

<a href="../deletefaculty/">Delete Faculty Member<br></a><br>

<a href="../deletestudent/">Delete Student<br></a><br>
    <a href="../viewinfo/">View Info<br></a><br>


<br> <br>
   <center>
    <br>
<a href="/DBMSP1/home/"><button>Home</button> </a>
<br> <br> <br>
    <a href="signout/"> SignOut </a>
    </center>

</body>
</html>