<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Robin.css' %}">
	<title>ViewInfo</title>
	<link rel="stylesheet" type="text/css" href="../static/user_home.css">
</head>
<body>


<center>
<br>

<br>

<center><h1>View Info</h1></center>
<br>

{{error}}
<br>

<a href="../viewstudent/">Student <br></a><br>

<a href="../viewfaculty/">Faculty<br></a><br>
<center>
    <br>
<a href="/DBMSP1/home/"><button>Home</button> </a>
<br> <br> <br>
    <a href="signout/"> SignOut </a>
    </center>

</body>
</html>